:root {
  --spot-color: #202142;
  --bg-color: #fff;
  --gray-light: #fcfcff;
  --hover-color: #f1f1fd;
  --stroke-color: #efefff;
  --text-color: #000000;
}

html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  display: block;
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  background-color: #ededf9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1440px;
  max-width: 1440px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 15px 45px rgba(24, 27, 121, 0.05);
  margin: 0 auto;

  background-color: #fff;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 40px 50px;
  border-bottom: 1px solid var(--stroke-color);

  background-color: var(--bg-color);
  .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    img {
      margin-right: 5px;
    }
    span {
      font-weight: 700;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    .nav-link {
      padding: 10px 15px;
      opacity: 0.7;
      border-radius: 30px;
      &:hover {
        background-color: var(--hover-color);
        opacity: 1;
      }
    }
  }
  .btn-group {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    .btn {
      display: inline-block;
      padding: 15px 30px;
      background-color: transparent;
      border-radius: 10px;
    }
    .btn-primary {
      background-color: var(--spot-color);
      color: #fff;
    }
  }
}

main {
}

.section-search {
  background-color: var(--gray-light);
  padding-top: 90px;
  padding-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-heading {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.8;
  margin-bottom: 16px;
  color: var(--spot-color);
}

.section-desc {
  max-width: 580px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--spot-color);
  line-height: 1.6;
  margin-bottom: 40px;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--stroke-color);
  box-shadow: 0px 16px 35px -15px rgba(2, 5, 132, 0.15);

  width: 100%;
  max-width: 650px;

  background-color: #fff;

  &-filter {
    font-size: 16px;
    font-weight: 600;

    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid var(--stroke-color);

    img {
      width: 15px;
      height: 15px;
      margin-left: 20px;
    }
  }
  &-input {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px 20px;
    opacity: 0.5;
    img {
      margin-right: 15px;
    }
    input {
      border: none;
      width: 100%;

      font-size: 16px;

      &::placeholder {
        font-family: "Poppins", sans-serif;
        color: #000;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.section-posts {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  .header-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .filter-posts {
      justify-self: start;
      border: 1px solid var(--stroke-color);
      padding: 5px;
      border-radius: 40px;

      background-color: var(--gray-light);

      .btn {
        padding: 15px 30px;
        opacity: 0.5;
        border-radius: 30px;
        display: inline-block;

        &.active {
          opacity: 1;
          box-shadow: 0px 10px 15px -10px rgba(2, 5, 132, 0.05);
          border: 1px solid var(--stroke-color);

          background-color: #fff;
        }
      }
    }
    .tabs {
      justify-self: center;
      display: flex;
      align-items: center;
      .tab {
        padding: 10px 15px;
        border-radius: 30px;
        &.active {
          background-color: var(--gray-light);
          border: 1px solid var(--stroke-color);
        }
      }
    }
    .category {
      display: flex;
      align-items: center;
      justify-self: end;
      .item {
        padding: 16px;
        border-radius: 50%;
        background-color: var(--gray-light);
        border: 1px solid var(--stroke-color);
        &:hover,
        &.active {
          border: 1px solid #ff6a95;
        }
      }
      .item:not(first-child) {
        margin-left: 15px;
      }
    }
  }
}
